<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iir_eq">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--android:debuggable="false" 修复sdcard乱码文件名问题-->
    <application
        android:allowBackup="true"
        android:name="com.bes.BesApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:persistent="true"
        android:debuggable="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.bes.ui.USBOtaActivity"
            android:label="@string/activity_usb_ota_tools"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity"
            android:label="@string/pick_ota_file"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
